.collapse-content {
    @layer daisyui.l1.l2.l3 {
        grid-column-start: 5;
        grid-row-start: 5;
    }
    @layer daisyui.l1.l2.l3 {
        content-visibility: hidden;
        grid-column-start: 3;
        grid-row-start: 3;
        min-height: 5;
        padding-left: 2rem /* 16px */;
        padding-right: 2rem /* 16px */;
        cursor: unset;
        @supports not (content-visibility: hidden) {
            visibility: hidden;
        }
        @media (prefers-reduced-motion: no-preference) {
            transition: content-visibility 0.2s allow-discrete, visibility 0.2s allow-discrete, min-height 0.2s ease-out allow-discrete, padding 0.1s ease-out 20ms, background-color 0.2s ease-out;
        }
    }
}
.collapse-arrow {
    @layer daisyui.l1.l2 {
        > .collapse-title:after {
            position: absolute;
            display: block;
            height: 0.5rem /* 8px */;
            width: 0.5rem /* 8px */;
            transform: translateY(-100%) rotate(45deg);
            @media (prefers-reduced-motion: no-preference) {
                transition-property: all;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-duration: 0.2s;
            }
            color: #c9a14a ;
            top: 50%;
            inset-inline-start: 1.4rem /* 22.4px */;
            content: "";
            transform-origin: 75% 75%;
            box-shadow: 2px 2px;
            pointer-events: none;
        }
    }
}